.header{
    nav{
       padding:1.0625rem;
    }
    &__logo{
        img{
            width: 99px;
            height: 91px;
        }

    }
    &___links{
        a{
            position:relative;
            font-size: $font-small;
            color:$grayishBlue;
            transition: color 300ms ease-in-out;
            

            &:not(:last-child){
                margin-right: 32px;
            }
            &::before{
                content:"";
                display:block;
                position:absolute;
                height: 5px;
                left:0;
                right:0;
                bottom:-30px;
                background: linear-gradient(to right, $limeGreen,$brightCyan);
                opacity: 0;
                transition: opacity 300ms ease-in-out;

            }

            &:hover{
                color:$darkBlue;
                &::before{
                    opacity: 1;
                }
            }
        }
    }
    &__cta{
        font-size: $font-small;
        color: $white;
        transition: opacity 300ms ease-in-out;
        &:hover{
            opacity: 0.75;
        }
    }
}