.hero{
    background-color: $veryLightGray;
    height: 450px;
    &__image{
        position: absolute;
      width: 514px;
      height: 449px;
      background-image: url('/images/imagenMonitor.png');
      background-size: 100%;
      background-repeat: no-repeat;
      right:7%;


    }
    &__text{
        text-align: left;
        flex:2;
        order:1;
 
    }
    &__cta{
        font-size: $font-small;
        color: $white;
        transition: opacity 300ms ease-in-out;
        &:hover{
            opacity: 0.75;
        }
    }
}

.whyPostnet{
    background-color: $lightGrayishBlue;
    height: 450px;
    &__image{
        position: absolute;
      width: 392px;
      height: 221px;
      background-image: url('/images/medics.png');
      background-size: 90%;
      background-repeat: no-repeat;
      right:7%;


    }
    &__text{
        text-align: right;                                                                                                                                                                                              
        flex:2;
        order:1;
 
    }
}

.aboutUs{
    background-color: $veryLightGray;
    height: 450px;
    &__image{
        position: absolute;
      width: 357px;
      height: 288px;
      background-image: url('/images/oasis_painted.png');
      background-size: 100%;
      left:11%;
      top:112%;

    }
    &__text{
        text-align: right;
        flex:2;
        order:1;
 
    }

}
.mision{
    background-color: $lightGrayishBlue;
    height: 450px;
    &__image1{
        position: absolute;
      width: 188px;
      height: 151px;
      background-image: url('/images/mission.png');
      background-size: 90%;
      background-repeat: no-repeat;
      left:30%;
      top:161%;
      


    }
    &__image2{
        position: absolute;
      width: 225px;
      height: 225px;
      background-image: url('/images/vison.png');
      background-size: 90%;
      background-repeat: no-repeat;
      right:30%;
      top:158%;
    }
    &__text1{
        position: absolute;
        text-align:center;  
        left:25%;
        top:175%;
 
    }
    &__text2{
        position: absolute;
        text-align:center;    
        right:26%;
        top:175%;
    }

}
.contactUs{
    background-color: $veryLightGray;
    height: 872px;
    &__image{
        position: absolute;
        width: 681px;
        height: 679px;
        background-image: url('/images/123.png');
        background-size: 100%;
        background-repeat: no-repeat;
        right:7%;

    }
    &__text{
        text-align: left;
        flex:2;
        order:1;
 
    }

}
.thanks{
    background-color: $veryLightGray;
    height: 550px;
    &__image{
        position: absolute;
      width: 553px;
      height: 527px;
      background-image: url('/images/doctor.png');
      background-size: 100%;
      background-repeat: no-repeat;
      left:7%;
      bottom:31%;

    }
    &__text{
        position: absolute;
        text-align:center;
        flex:2;
        order:1;
        bottom:40%;
        right:20%;
 
    }
 
}